@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #023877;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.conten-proye{
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 30px;
    padding: 12px 40px;
}
.proyectos{
    height: auto;
    width: 350px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 20px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
}

.proyejecutado{
    width: 348px;
    height: 50%;
    top: 0;
    border-radius: 20px 20px 0px 0px;
}

.tituloejecutado{
    color: var(--text-color);
    padding: 20px 20px 0px;
}

.btn{
    margin-left: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
}

.info-proyecto{
    color: var(--text-color);
    transition: var(--tran-05);
    margin-left: 30px;
}

.boton{
    width: 30%;
    padding: 10px;
    background: var(--primary-color);
    transition: var(--tran-05);
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 35px;
    text-align: center;
    justify-items: center;
}   

.encabezado{

    display: flex;
    margin-top: 10px;
}

.agregar-proyecto{
    font-size: 15px;
    font-weight: 500;
    padding: 15px;
    color: #fff;
    background: var(--primary-color);
    transition: var(--tran-05);
    text-decoration: none;
    border-radius: 15px;
}

.agregar-proyecto:hover{
    background-color: #3498DB ;
    transition: all 0.3s ease;
}

.btn-agregar-proyecto{
    padding-top: 24px;
    margin-left: 6%;
}

.conten{
    margin-left: 150px;
    display: flex;
    width: 550px;
}


    